*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit';
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}